.product-info-scroll::-webkit-scrollbar {
  width: 12px;
}

.product-info-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.product-info-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

